* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #D6D7DB
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftDiv {
    width: 350px;
    height: 80%;
    background-color: #ffffff;
    box-shadow: -10px 0px 15px -5px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

#searchImg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#searchImg:hover {
    transform: scale(1.1);
}

#locationImg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#locationIms:hover {
    transform: scale(1.1);
}

.forecastContainer {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    gap: 5px;


}

#currentFeelsLike {
    font-size: 0.7rem;
    opacity: 0.5;

}




.forecastDiv {
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: none;
    padding: 10px 0px 10px 0px;
}

.forecastDiv:hover {
    transform: scale(1.1);
}


.inputDiv {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cityInput {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #000000;

}

.currentDayTimeDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.line {
    width: 80%;
    height: 2px;
    background-color: #F7F6F9;

}


.descriptionDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.unsplasImgDiv {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#unsplashImg {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
    display: none;

}




#locationDiv {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.rightDiv {
    width: 550px;
    height: 80%;
    background-color: #F7F6F9;
    box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.featureForecast {
    width: 100%;
    display: flex;
}

#forecastDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);


}

.bottomDiv {
    width: 100%;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottomCardDiv {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;

}

.bottomCardDiv:hover {
    transform: scale(1.1);
}

#opacity {
    opacity: 0.5;
}

#forecastMain {
    opacity: 0.5;
    font-size: 0.6rem;
}

#todaysHilight {
    display: none;
}